body {
    background-color: black;
    color: green; /* Color del texto por defecto */
    font-family: 'Arial', sans-serif; /* Tipo de fuente por defecto */
}

h1 {
    font-size: 2.5em; /* Tamaño de la fuente */
    border: 2px solid green; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    background-color: #0f0f0f; /* Color de fondo suave */
}

.formABM, .formDatos {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    flex-direction: column; /* Alinea elementos en columna */
    height: 100vh;            
    margin: 0 auto;           /* Centra el contenedor horizontalmente */
    width: 60%;               /* Establece el ancho al 60% */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table tr th {
    color: green;
    background-color: black;
    font-size: 18px;
    text-align: left;
}

select {
    width: 20%;
    padding: 10px;
    border: 1px solid green; /* Borde verde */
    border-radius: 5px;
    background-color: green;
    color: black;
    margin: 10px 0; /* Separación */
}

input[type="text"] {
    width: 60%;
    padding: 4px;
    border: 2px solid green; /* Borde azul */
    border-radius: 5px;
    margin-bottom: 3px; /* Espacio entre inputs */
}

.checkbox {
    color: green;
    background-color: rgb(15, 15, 15);
    margin: 10px 0; /* Separación */
}

button {
    width: 10%;
    padding: 10px;
    background-color: green;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0; /* Separación */
}

.hidden {
    display: none; /* Ocultar elementos */
}